.fields{
    margin:0.1%;
}

.button{
    justify-content: center;
}

button{
    border: 0.1rem transparent solid;
    margin-left: 0.1%;
    shape-outside: margin-box;
}
input{
    margin-left: 2rem;
}