.wrapper{
    margin: 3%;
}

.song-table{
    margin:2%; 
}

.mat-elevation-z8{
    border: 0.01rem solid black;
}

.forms{
    justify-content: space-evenly;
}

h1{
    margin:1%;
}

.footer{
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

